* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

body .main-content {
  flex-grow: 1;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.title-page {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 50px;
}

.header-page {
  padding: 15px;
  color: #fff;
  background-color: #000;
}

.header-page nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-page .header-title {
  font-weight: 600;
  font-size: 25px;
}

.header-page a {
  text-decoration: none;
  color: #fff;
}

.header-page ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-page ul a {
  margin-right: 20px;
}

.home-route {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-route a {
  flex-basis: 35%;
  text-decoration: none;
  color: #fff;
}

.home-route .card {
  padding: 40px;
  background-color: #EB4550;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.home-route .card h2 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 15px;
}

.home-route .card small {
  color: #000;
}

.user-index {
  margin-top: 100px;
}

.user-index img {
  border-radius: 15px;
}

.user-index .user {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0 15px 15px grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.user-index .user-info {
  margin-left: 30px;
  justify-self: start;
}

.posts-page-container {
  margin-top: 100px;
}

.posts {
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
  box-shadow: 0 19px 15px grey;
}

.posts article {
  margin-bottom: 15px;
}

.posts article h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.posts .info-date {
  text-align: right;
  margin-top: 20px;
}

.posts .comment-container {
  padding: 20px;
  color: #fff;
  border-radius: 15px;
  background-color: dodgerblue;
}

.footer-page {
  padding: 20px;
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

